{% extends 'base.html' %}

    {% block content %}

{% load tags %}


        <p class="text-center">{{ settings }}</p>
        <p class="text-center">{{ var }}</p>


        {% if user.is_authenticated %}

            <h2 class="text-center">Hello, {{ user.first_name }}!</h2>

            <form method="post" class="user_info">

                <p><span>Username:</span> {{ user.username }}</p>
                <p><span>First name:</span> {{ user.first_name }}</p>
                <p><span>Last name:</span> {{ user.last_name }}</p>
                <p><span>Date of birth:</span> {{ user.birth_date }}</p>
                <p><span>Country:</span> {{ user.country }}</p>
                <p><span>Biography:</span> {{ user.bio }}</p>
                <p><span>Contact:</span> {{ user.phone }}</p>

                <h4>Test : {% change_tag %} </h4>
        {% else %}

                <p class="text-center"><a href="{% url 'account:login' %}">Login</a> to see information</p>

        {% endif %}

        </form>
    {% endblock content %}