{% extends 'base.html' %}

    {% block content %}
<table class="table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col" style="width:5%">ID</th>
      <th scope="col" style="width:20%">DATA_CHANGES</th>
      <th scope="col" style="width:20%">TYPE_CHANGES</th>
      <th scope="col" style="width:55%">INFO_CHANGES</th>
    </tr>
  </thead>
  <tbody>
  {% for data in data_show %}
    <tr>
      <td>{{ data.id }}</td>
      <td>{{ data.data_changes }}</td>
      <td>{{ data.get_type_changes_display }}</td>
      <td>{{ data.info_changes }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

    {% endblock content %}